services:
  opensearch:
    image: opensearchproject/opensearch:latest
    environment:
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - "9200:9200"
    volumes:
      - opensearch_data:/usr/share/opensearch/data

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=http://192.168.4.36:9200
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
    depends_on:
      - opensearch

  rag-service:
  #  image: rag-service:latest
  #  container_name: rag_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - OPENSEARCH_HOST=http://192.168.4.36
      - OPENSEARCH_PORT=9200
      - EMBEDDING_MODEL_PATH=/app/embedding_model
      - LLM_PROVIDER=ollama
    volumes:
      - ./embedding_model:/app/embedding_model
      - ./uploaded_files:/app/uploaded_files
    depends_on:
      - opensearch

volumes:
  opensearch_data: